<mat-card>
  <form [formGroup]="noteForm">
      <label>Uuid</label>
      <input type="text" formControlName="noteUuid" required>
      <br>
      <label>Title:</label>
      <input type="text" formControlName="title" required>
      <br>
      <label>Message:</label>
      <input type="text" formControlName="message" required>

    <ol><button mat-button color="primary" (click)="propose()" [disabled]="!noteForm.valid">propose</button></ol>
    </form>
  </mat-card>
