<mat-card>
<form [formGroup]="noteForm" (ngSubmit)="create()">

    <label>Title:</label>
    <input type="text" formControlName="title" required>
    <br>
    <label>Message:</label>
    <input type="text" formControlName="message" required>

  <ol><button mat-button color="primary" type="submit" [disabled]="!noteForm.valid"><mat-icon>create</mat-icon></button></ol>
</form>
</mat-card>