.full-width-table {
  width: 100%;
}

.search-models {
  padding: 0em 1em 0em 1em;
}

mat-card {
  min-height: 80vh;
}

.table-container {
  margin-top: 10px;
  max-height: 300px;
  overflow: auto;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.button{
  float: right;
}

