


<div>
<p>Paile se hai vo note</p>
Title = {{titleOld}}
<br>
Message = {{messageOld}}
</div>
<br>
<br>

<div>
<p>Prapose hua h vo note</p>
Title = {{titleNew}}
<br>
Message ={{messageNew}}
</div>
<br>
<button (click)="approve(uuid)">Approve</button>
<button (click)="dissapprove(uuid)">Dissapprove</button>
